{% extends 'base.jinja' %}

{% block header %}
<h1>{% block title %}Edit Album{% endblock %}: <a href="">{{ album.name }}</a></h1>
{% endblock %}

{% block content %}
<h4 class="mb-0">Delete album</h4>
<div class="indented">
    <p>You may delete the album. All the photos will be deleted as well.</p>
    <form action="{{ url_for('delete_album', album_id=album.album_id) }}" method="post" class="classic-form">
        <input type="submit" value="Delete (no going back!)">
    </form>
</div>

<h4 class="mb-0">Upload Photo</h4>
<form action="" method="post" enctype="multipart/form-data" class="indented classic-form">
    <label for="photo-file">Attach File:</label>
    <input type="file" id="photo-file" name="photo-file" accept="image/png, image/jpeg" required>
    <br>
    <label for="caption">Caption:</label>
    <input type="text" id="caption" name="caption" placeholder="Caption for the photo" required>
    <br>
    <label for="tags-input">Tags:</label>
    <!-- A-z, a-z or whitespace from start to end -->
    <input type="text" id="tags-input" name="tags-input" placeholder="Tags (separated by spaces)"
        pattern="^[A-Za-z\s]+$">
    <br>
    <input type="submit" value="Upload" name="upload-photo">
    <input type="reset" value="Reset">
</form>

<h3 class="mb-0">Photos</h3>
<div class="photo-list indented">
    {% for photo in photos %}
    <div class="photo-list-item">
        <h4>{{ photo['caption'] }}</h4>
        <div class="img-container">
            <img src="{{ get_photo_url(photo) }}">
        </div>
        <div class="item-list">
            {% if photo['tag_labels']|length > 0 %}
            <span class="bold">Tags:</span>
            {% for tag_label in photo['tag_labels'] %}
            <span>
                <a href="{{ url_for('search_photos', tags=tag_label, user_id=g.user['user_id']) }}">{{ tag_label }}</a>
            </span>
            {% endfor %}
            {% else %}
            <span class="bold">No tags</span>
            {% endif %}
        </div>
        <form action="" method="post">
            <input type="text" name="photo-id" id="photo-id" value="{{ photo['photo_id'] }}" class="d-none">
            <input type="submit" value="Delete" name="delete-photo">
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
